.lead {
  padding: 0;
  padding-top: 40px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lead__container-title-and-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  color: white;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  color: white;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.lead__image {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 10px 10px 25px 0px #00000080;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 0;
  }

  .lead__container-title-and-subtitle {
    padding: 0 24px;
  }

  .lead__title {
    font-size: 75px;
  }

  .lead__subtitle {
    margin: 0;
  }

  .lead__image {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }

  .lead__container-title-and-subtitle {
    padding: 0 16px;
  }

  .lead__title {
    font-size: 40px;
    padding-bottom: 0;
    padding-top: 16px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin: 0;
    font-size: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    line-height: 20px;
  }

  .lead__image {
    margin: 0;
    padding: 0;
  }
}
